In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
import scipy.stats as stats

import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [2]:
# Create a file path
filepath = "./Resources/scrubbed.csv"

# Read in the data. 
df = pd.read_csv(filepath)

df.head()

C:\Users\samri\AppData\Local\Temp\ipykernel_54228\2118489344.py:5: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              80332 non-null  object
 1   city                  80332 non-null  object
 2   state                 74535 non-null  object
 3   country               70662 non-null  object
 4   shape                 78400 non-null  object
 5   duration (seconds)    80332 non-null  object
 6   duration (hours/min)  80332 non-null  object
 7   comments              80317 non-null  object
 8   date posted           80332 non-null  object
 9   latitude              80332 non-null  object
 10  longitude             80332 non-null  float64
dtypes: float64(1), object(10)
memory usage: 6.7+ MB

In [4]:
df.country = df.country.fillna('unknown')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              80332 non-null  object
 1   city                  80332 non-null  object
 2   state                 74535 non-null  object
 3   country               80332 non-null  object
 4   shape                 78400 non-null  object
 5   duration (seconds)    80332 non-null  object
 6   duration (hours/min)  80332 non-null  object
 7   comments              80317 non-null  object
 8   date posted           80332 non-null  object
 9   latitude              80332 non-null  object
 10  longitude             80332 non-null  float64
dtypes: float64(1), object(10)
memory usage: 6.7+ MB

In [6]:
df.state = df.state.fillna('unknown')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              80332 non-null  object
 1   city                  80332 non-null  object
 2   state                 80332 non-null  object
 3   country               80332 non-null  object
 4   shape                 78400 non-null  object
 5   duration (seconds)    80332 non-null  object
 6   duration (hours/min)  80332 non-null  object
 7   comments              80317 non-null  object
 8   date posted           80332 non-null  object
 9   latitude              80332 non-null  object
 10  longitude             80332 non-null  float64
dtypes: float64(1), object(10)
memory usage: 6.7+ MB

In [7]:
df["shape"] = df["shape"].fillna('unknown')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              80332 non-null  object
 1   city                  80332 non-null  object
 2   state                 80332 non-null  object
 3   country               80332 non-null  object
 4   shape                 80332 non-null  object
 5   duration (seconds)    80332 non-null  object
 6   duration (hours/min)  80332 non-null  object
 7   comments              80317 non-null  object
 8   date posted           80332 non-null  object
 9   latitude              80332 non-null  object
 10  longitude             80332 non-null  float64
dtypes: float64(1), object(10)
memory usage: 6.7+ MB

In [8]:
df["comments"] = df["comments"].fillna('no comment')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              80332 non-null  object
 1   city                  80332 non-null  object
 2   state                 80332 non-null  object
 3   country               80332 non-null  object
 4   shape                 80332 non-null  object
 5   duration (seconds)    80332 non-null  object
 6   duration (hours/min)  80332 non-null  object
 7   comments              80332 non-null  object
 8   date posted           80332 non-null  object
 9   latitude              80332 non-null  object
 10  longitude             80332 non-null  float64
dtypes: float64(1), object(10)
memory usage: 6.7+ MB

In [9]:
df["shape"].value_counts()

shape
light        16565
triangle      7865
circle        7608
unknown       7516
fireball      6208
other         5649
sphere        5387
disk          5213
oval          3733
formation     2457
cigar         2057
changing      1962
flash         1328
rectangle     1297
cylinder      1283
diamond       1178
chevron        952
egg            759
teardrop       750
cone           316
cross          233
delta            7
round            2
crescent         2
pyramid          1
flare            1
hexagon          1
dome             1
changed          1
Name: count, dtype: int64

In [10]:
item_shape = ['hexagon', 'delta', 'round', 'crescent', 'pyramid', 'flare', 'dome', 'changed', 'cross', 'cone']
df = df[~df["shape"].isin(item_shape)]

In [11]:
df["shape"].value_counts()

shape
light        16565
triangle      7865
circle        7608
unknown       7516
fireball      6208
other         5649
sphere        5387
disk          5213
oval          3733
formation     2457
cigar         2057
changing      1962
flash         1328
rectangle     1297
cylinder      1283
diamond       1178
chevron        952
egg            759
teardrop       750
Name: count, dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 79767 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              79767 non-null  object
 1   city                  79767 non-null  object
 2   state                 79767 non-null  object
 3   country               79767 non-null  object
 4   shape                 79767 non-null  object
 5   duration (seconds)    79767 non-null  object
 6   duration (hours/min)  79767 non-null  object
 7   comments              79767 non-null  object
 8   date posted           79767 non-null  object
 9   latitude              79767 non-null  object
 10  longitude             79767 non-null  float64
dtypes: float64(1), object(10)
memory usage: 7.3+ MB

In [13]:
df.country.value_counts()

country
us         64666
unknown     9603
ca          2980
gb          1882
au           531
de           105
Name: count, dtype: int64

In [14]:
df = df[df["country"] == 'us']
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64666 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              64666 non-null  object
 1   city                  64666 non-null  object
 2   state                 64666 non-null  object
 3   country               64666 non-null  object
 4   shape                 64666 non-null  object
 5   duration (seconds)    64666 non-null  object
 6   duration (hours/min)  64666 non-null  object
 7   comments              64666 non-null  object
 8   date posted           64666 non-null  object
 9   latitude              64666 non-null  object
 10  longitude             64666 non-null  float64
dtypes: float64(1), object(10)
memory usage: 5.9+ MB

In [15]:
df.datetime

0        10/10/1949 20:30
3        10/10/1956 21:00
4        10/10/1960 20:00
5        10/10/1961 19:00
7        10/10/1965 23:45
               ...
80327      9/9/2013 21:15
80328      9/9/2013 22:00
80329      9/9/2013 22:00
80330      9/9/2013 22:20
80331      9/9/2013 23:00
Name: datetime, Length: 64666, dtype: object

In [16]:
df['datetime'] = pd.to_datetime(df['datetime'], format='mixed', errors='coerce')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64666 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              64183 non-null  datetime64[ns]
 1   city                  64666 non-null  object
 2   state                 64666 non-null  object
 3   country               64666 non-null  object
 4   shape                 64666 non-null  object
 5   duration (seconds)    64666 non-null  object
 6   duration (hours/min)  64666 non-null  object
 7   comments              64666 non-null  object
 8   date posted           64666 non-null  object
 9   latitude              64666 non-null  object
 10  longitude             64666 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(9)
memory usage: 5.9+ MB

In [18]:
df = df.dropna(subset=['datetime'])

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64183 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              64183 non-null  datetime64[ns]
 1   city                  64183 non-null  object
 2   state                 64183 non-null  object
 3   country               64183 non-null  object
 4   shape                 64183 non-null  object
 5   duration (seconds)    64183 non-null  object
 6   duration (hours/min)  64183 non-null  object
 7   comments              64183 non-null  object
 8   date posted           64183 non-null  object
 9   latitude              64183 non-null  object
 10  longitude             64183 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(9)
memory usage: 5.9+ MB

In [20]:
df['latitude'] = df['latitude'].str.replace('[^0-9.-]', '', regex=True)
df['latitude'] = df['latitude'].astype(float)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64183 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              64183 non-null  datetime64[ns]
 1   city                  64183 non-null  object
 2   state                 64183 non-null  object
 3   country               64183 non-null  object
 4   shape                 64183 non-null  object
 5   duration (seconds)    64183 non-null  object
 6   duration (hours/min)  64183 non-null  object
 7   comments              64183 non-null  object
 8   date posted           64183 non-null  object
 9   latitude              52425 non-null  float64
 10  longitude             64183 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(8)
memory usage: 5.9+ MB

In [22]:
df.head(100)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
3,1956-10-10 21:00:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611
5,1961-10-10 19:00:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595000,-82.188889
7,1965-10-10 23:45:00,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.117500,-73.408333
...,...,...,...,...,...,...,...,...,...,...,...
122,2003-10-10 20:25:00,temperance,mi,us,oval,18000,over 5 hours,pulsating green white and red object in the no...,10/31/2003,41.779167,-83.568889
123,2003-10-10 21:10:00,crescent beach,sc,us,formation,37800,1 1/2 hr.,For two consecutive nights&#44 we watched a pa...,1/17/2004,33.807500,-78.701111
124,2003-10-10 22:00:00,albuquerque,nm,us,light,180,3 minutes,Three bright lights that were huddled together...,2/1/2007,35.084444,-106.650556
126,2003-10-10 23:25:00,gleason,wi,us,sphere,1800,30min,UFO Contact&#44 Amazing close sighting,9/2/2005,45.308889,-89.496389
127,2004-10-10 02:50:00,mahwah,nj,us,triangle,180,2 - 3 minutes,Triangle shaped flying&#44 hovering U.F.O. wit...,12/12/2011,41.088611,-74.144167

In [25]:
# changing the lat to float
def convert_to_float(value):
    try:
        return float(value)
    except ValueError:
        return value

# Apply the conversion function to the latitude column
df['latitude'] = df['latitude'].apply(convert_to_float)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64183 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              64183 non-null  datetime64[ns]
 1   city                  64183 non-null  object
 2   state                 64183 non-null  object
 3   country               64183 non-null  object
 4   shape                 64183 non-null  object
 5   duration (seconds)    64183 non-null  object
 6   duration (hours/min)  64183 non-null  object
 7   comments              64183 non-null  object
 8   date posted           64183 non-null  object
 9   latitude              52425 non-null  float64
 10  longitude             64183 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(8)
memory usage: 5.9+ MB